.fais-check-btn {
  display: inline-block;
  border-style: dashed;
  border-width: 1px;
  border-radius: 2px;
  outline: none;
  user-select: none;
  font-size: 12px;
  vertical-align: top;

  & + & {
    margin-left: 6px;
  }

  &.fais-check-btn__small {
    padding: 2px 6px;
  }

  &.fais-check-btn__large {
    padding: 4px 8px;
  }

  &:focus {
    box-shadow: 0 0 0 2px #dce9ff;
  }

  .fais-check-btn-icon {
    position: absolute;
    top: 1px;
    right: -1px;
    font-size: 10px;
    line-height: 10px;
  }

  &.fais-check-btn__checked {
    position: relative;
    border-style: solid;

    &::before {
      position: absolute;
      top: -1px;
      right: -1px;
      display: inline-block;
      border-style: solid;
      border-width: 10px;
      content: '';
    }

    &.fais-check-btn__disabled {
      border-style: dashed;

      &::before {
        position: absolute;
        top: -1px;
        right: -1px;
        display: inline-block;
        border-style: solid;
        border-width: 10px;
        content: '';
      }
    }
  }

  &.fais-check-btn__disabled {
    position: relative;
    cursor: not-allowed !important;
  }
}

.fais-check-btn-group {
  line-height: 1.5;
  font-size: 0;
  vertical-align: middle;
}

$theme-text-fais-check-btn: (
  'info': #4686f2,
  'success': #1cb77b,
  'warn': #f2b044,
  'danger': #f14c5d
);
$theme-stroke-fais-check-btn: (
  'info': #4686f2,
  'success': #1cb77b,
  'warn': #f2b044,
  'danger': #f14c5d
);
$theme-icon-fais-check-btn: (
  'info': #4686f2,
  'success': #1cb77b,
  'warn': #f2b044,
  'danger': #f14c5d
);

$theme-bg-fais-check-btn: #fff;
$theme-text-fais-check-btn-disable: #bbb;
$theme-stroke-fais-check-btn-default: #d9d9d9;
$theme-icon-fais-check-btn-disable: #d9d9d9;
$theme-icon-blue-bg: #fff;

.fais-check-btn {
  background-color: $theme-bg-fais-check-btn;
  border-color: $theme-stroke-fais-check-btn-default;

  $obj: info, success, warn, danger;

  .fais-check-btn-icon {
    color: $theme-icon-blue-bg;
  }

  &.fais-check-btn__checked {
    @each $item in $obj {
      &.fais-check-btn__#{$item}:not(.fais-check-btn__disabled) {
        color: map-get($theme-text-fais-check-btn, $item);
        border-color: map-get($theme-stroke-fais-check-btn, $item);

        &::before {
          border-color: map-get($theme-stroke-fais-check-btn, $item)
            map-get($theme-stroke-fais-check-btn, $item)
            transparent
            transparent;
        }
      }
    }

    &.fais-check-btn__disabled {
      &::before {
        border-color: $theme-icon-fais-check-btn-disable
          $theme-icon-fais-check-btn-disable transparent transparent;
      }
    }
  }

  @each $item in $obj {
    &.fais-check-btn__#{$item} {
      &:not(.fais-check-btn__readonly):not(.fais-check-btn__disabled) {
        &:hover {
          color: map-get($theme-text-fais-check-btn, $item);
          border-color: map-get($theme-stroke-fais-check-btn, $item);
        }
      }
    }
  }

  &.fais-check-btn__disabled {
    color: $theme-text-fais-check-btn-disable;
    background-color: $theme-bg-fais-check-btn;
    border-color: $theme-stroke-fais-check-btn-default;
    &:hover {
      color: $theme-text-fais-check-btn-disable;
      border-color: $theme-stroke-fais-check-btn-default;
    }
  }
}
